.container {
    min-width: 100%;
    min-height: 100%;
    padding: var(--spacing-xl) var(--spacing-xl) var(--spacing-lg) var(--spacing-xl);
    color: var(--text-secondary);
    font-size: 14px;
}

.section {
    margin-bottom: var(--spacing-xl);
}

.section-title {
    margin-bottom: 30px;
    display: flex;
    gap: 10px;
    align-items: baseline;
}